<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">Soyez gentils !</small>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "Annuler", messages_path, class: "btn btn-outline-danger border-0 mr-3", data: { confirm: 'Êtes-vous sûr ?' } %>
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
