<div class="card card-shadow mb-4 p-3">
  <div class="d-flex flex-row mb-3">
    <div class="profile mr-2">
      <%= image_tag('profile.png', width: 32, height: 32) %>
    </div>
    <span class="flex-grow align-self-center message-author flex-grow-1"><%= message.author.email %></span>

    <% if user_signed_in? && current_user.id == message.author.id %>
      <div class="dropdown">
        <a class="btn btn-sm btn-outline-info border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'Éditer', edit_message_path(message), class: "dropdown-item" %>
          <%= link_to 'Supprimer', message, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="mb-2">
    <%= message.content %>
  </div>
  <div>
    <small class="text-muted"><%= message.updated_at %></small>
  </div>


</div>
